<div class="toolbar" role="banner">
  <span style="font-size: 48px; color: rgb(240, 236, 0);">
    <i class="fa-solid fa-cloud-sun"></i>
  </span>
    <span>Weather</span>
      <div class="spacer"></div>
      <button mat-raised-button class="toolbar__button"color="primary">
        Add city
      </button>
      <button mat-raised-button class="toolbar__button"color="primary">
        Start tracking
      </button>
      <button mat-raised-button class="toolbar__button"color="primary">
        Stop tracking
      </button>
</div>