<div class="toolbar" role="banner">
  <span class="toolbar__span">
    <i class="fa-solid fa-cloud-sun"></i>
  </span>
  <span>Weather</span>
  <div class="spacer"></div>
  <button
    mat-raised-button
    (click)="openDialog()"
    class="toolbar__button"
    color="primary"
  >
    Add card
  </button>
  <button
    mat-raised-button
    (click)="updateData()"
    [disabled]="update || cities.length ===0"
    class="toolbar__button"
    color="primary"
  >
    Start tracking
  </button>
  <button
    mat-raised-button
    (click)="stopUpdate()"
    [disabled]="!update"
    class="toolbar__button"
    color="primary"
  >
    Stop tracking
  </button>
</div>
