<footer class="footer">
    <div class="wrapper">
        <div class="footer__social">
            <h3 class="footer__title"> &#xa9; 2021 - Weather</h3>
            <div class="footer__links">
                <a class="footer__link"
                    href="#"><i
                        class="fab fa-pinterest-p"></i></a>
                <a class="footer__link"
                    href="#"><i
                        class="fab fa-twitter"></i></a>
                <a class="footer__link"
                    href="#"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="footer__link"
                    href="#"><i
                        class="fab fa-dribbble"></i></a>
            </div>
        </div>
    </div>
</footer>
